{% extends "jobseeker-base.html" %}
{% block jobseeker_body %}
<div class="content">
    <div class="card">
        <div class="card-content">
            <p class="title">{{ company_name }}</p>
            <p class="subtitle">
                <a href="{{ url_for('company.jobs', company_id=company_id) }}">View Job Postings</a>
            </p>
            <div class="content">
                {{ description }}
            </div>
            <p>
                {% if has_website %}
                <a href="{{ website }}">{{ website }}</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
