{% extends "company-base.html" %}

{% block company_body %}
<div class="content">
    <form method="post" action="{{ url_for('company.about_post') }}">
        <h2 class="info">My Description:</h2>
        <br>
        <textarea name="description">
            {{ description }}
        </textarea>
        <br>
        <h2 class="info">Website</h2>
        <input type="text" name="website" value="{{ website }}"/>
        <div class="btn-block">
            <input class="button" type="submit" value="Update Description">
        </div>
    </form>
</div>
{% endblock %}
