{% extends "base.html" %}

{% block body %}
<div class="testbox">
    <block id="frm1">
        <div class="banner">
            <h1 class="header-text">Welcome!</h1>
        </div>
        <br>
        <div class="btn-block">
            <a class="button " href="{{ url_for('company_auth.signup') }}">Sign Up as Company</a>
        </div>
        <br>
        Already have a Company account? <a href="{{ url_for('company_auth.login') }}">Log In</a>
        <br>
        <div class="btn-block">
            <a class="button" href="{{ url_for('jobseeker_auth.signup') }}">Sign Up as Job Seeker</a>
        </div>
        <br>
        Already have a Jobseeker account? <a href="{{ url_for('jobseeker_auth.login') }}">Log In</a>
        <br>
    </block>
</div>
{% endblock %}
