{% extends "jobseeker-base.html" %}
{% block jobseeker_body %}
<div class="testbox">
    <form action="/">
        <div class="banner">
            <h1>Position Details</h1>
        </div>
        <p class="info">Company: </p>
        <p class="info">Position: </p>
        <p class="info">Description: </p>
        <p class="info">Required Skills: </p>
        <p class="info">Application Deadline: </p>
        <div class="btn-block">
            <button type="submit" href="/">Apply For The Job</button>
        </div>
    </form>
</div>
{% endblock %}
