{% from "macros.html" import skill_tag %}

{% extends "jobseeker-base.html" %}
{% block jobseeker_body %}
<div class="content">
    {% if applied %}
    <form action="{{ url_for('jobseeker.withdraw', job_id=job_id) }}" method="post">
    {% else %}
    <form action="{{ url_for('jobseeker.apply', job_id=job_id) }}" method="post">
    {% endif %}
        <h2 class="title">{{ job_title }}</h1>
        <h3 class="title">Company: </h3> <a href="{{ url_for('company.jobs', company_id=company_id) }}">{{ company_name }}</a>
        <h3 class="info">Location: </h3> {{ job_location }}
        <h3 class="info">Description: </h3> {{ job_description }}
        <h3 class="info">Required Skills: </h3>
        {% for skill, proficiency in skills.items() %}
        {{ skill_tag(skill, proficiency, colour=True) }}
        {% endfor %}
        <h3 class="info">Application Deadline: </h3> {{ app_deadline }}
        <div class="btn-block">
            {% if applied %}
            <input class="button" id="withdraw-btn" type="submit" value="Withdraw Application">
            {% else %}
            <input class="button" id="apply-btn" type="submit" value="Apply">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
