{% from "macros.html" import job_preview, skill_tag %}

{% extends "jobseeker-base.html" %}
{% block jobseeker_body %}
<div class="columns">
  <div class="column is-3">
    <div class="card has-background-info-light">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ fname }} {{ lname }}</p>
          </div>
        </div>
        <h1>Skills:</h1>
        {% for skill, proficiency in skills.items() %}
        {{ skill_tag(skill, proficiency, colour=True) }}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column">
    {% for data in job_previews %}
    {{ job_preview(data["id"], data["title"], data["company"], data["location"], data["description"], data["min_skill_proficiencies"], data["company_id"]) }}
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}
