{% from "macros.html" import flashing, email_input, password_input %}

{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block body %}
<div class="testbox">
    <form id=frm1 action="{{ url_for('.login_post') }}" method="POST">
        <div class="banner">
            <h1 class="header-text">Log In</h1>
        </div>
        <br>
        {{ flashing() }}
        <div class="btn-block">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="Avatar" class="avatar" width="100">
        </div>
        {{ email_input() }}
        {{ password_input(confirm=False) }}
        <div class="btn-block">
            <button type="submit">Login As {{user_type_nice}}</button>
        </div>
    </form>
</div>
{% endblock %}
