{% macro email_input() %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>Email Address<span class="required">*</span></b>
        </p>
        <input type="text" placeholder="email@example.ca" name="email" />
    </div>
</div>
{%- endmacro %}


{% macro password_input(confirm) %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>Password<span class="required">*</span></b>
        </p>
        <input type="password" placeholder="password" name="password" />
    </div>
    {% if confirm %}
    <div class="item">
        <p>
            <b>Confirm Password<span class="required">*</span></b>
        </p>
        <input type="password" placeholder="password" name="confirm_password" />
    </div>
    {% endif %}
</div>
{%- endmacro %}


{% macro phone_input() %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>Phone Number<span class="required">*</span></b>
        </p>
        <input type="text" placeholder="xxxyyyzzzz" name="phone" />
    </div>
</div>
{%- endmacro %}


{% macro fname_lname_input() %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>First Name<span class="required">*</span></b>
        </p>
        <input type="text" placeholder="First" name="fname" />
    </div>
    <div class="item">
        <p>
            <b>Last Name<span class="required">*</span></b>
        </p>
        <input type="text" placeholder="Last" name="lname" />
    </div>
</div>
{%- endmacro %}


{% macro name_input() %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>Name<span class="required">*</span></b>
        </p>
        <input type="text" placeholder="Name" name="name" />
    </div>
</div>
{%- endmacro %}

{% macro description_input() %}
<div class="contact-item">
    <div class="item">
        <p>
            <b>Description</b>
        </p>
        <textarea name="description"></textarea>
    </div>
</div>
{%- endmacro %}


{% macro flashing() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "info" %}
<div class="notification is-info">
    {{ message }}
</div>
{% else %}
<div class="notification is-danger">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{%- endmacro %}


{% macro skill_tag(sname, proficiency, colour=False) %}
{% if proficiency == 3 %}
{% set size = 'is-large' %}
{% elif proficiency == 2 %}
{% set size = 'is-medium' %}
{% else %}
{% set size = ''%}
{% endif %}

{% if colour %}
{% set tag_colour = 'is-link' %}
{% else %}
{% set tag_colour = '' %}
{% endif %}

<span class="tag {{ size }} {{ tag_colour }}">{{ sname }}</span>
{%- endmacro %}


{% macro job_preview(job_id, title, company, location, description, min_skill_proficiencies, company_id, is_owner=false) %}
<div class="card is-fullwidth">
    <div class="card-header">
        <p class="card-header-title">
            {% if is_owner %}
            <a href="{{ url_for('company.view_job', job_id=job_id) }}">{{ title }}</a>
            {% else %}
            <a href="{{ url_for('jobseeker.view_job', job_id=job_id) }}">{{ title }}</a>
            {% endif %}
        </p>
    </div>
    {% if not is_owner %}
    <div class="card-content">
        <pgmail>
            <a href="{{ url_for('jobseeker.company', company_id=company_id) }}">{{ company }}</a> - {{ location }}
        </p>
    </div>
    {% endif %}
    <div class="card-content">
        {{ description }}
    </div>
    <div class="card-footer">
        <div class="card-footer-item has-text-left">
            {% for key, value in min_skill_proficiencies.items() %}
            {{ skill_tag(key, value) }}
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}
