{% extends "jobseeker-base.html" %}

{% block jobseeker_body %}
<div class="columns is-centered">
    <div class="column">
        <!-- TODO make UI nicer (less white space) -->
        <form class="form" method="post" id="skills-form" action="{{ url_for('.add_skill') }}">
            <table class="table">
                <caption>
                    <h1 class="title">My Skills</h1>
                </caption>
                <tbody>
                    <tr></tr>
                    {% for skill in skills %}
                    <tr>
                        <td><span class="tag is-info is-large">{{ skill[1] }}</span></td>
                        <td>
                            <div class="select" name="{{ skill[0] }}">
                                <select id="{{ skill[0] }}" onchange="changeProficiency({{ skill[0] }}, this.value);">
                                    {% if skill[2] == 1 %}
                                    <option selected value=1>Basic</option>
                                    {% else %}
                                    <option value=1>Basic</option>
                                    {% endif %}

                                    {% if skill[2] == 2%}
                                    <option selected value=2>Working</option>
                                    {% else %}
                                    <option value=2>Working</option>
                                    {% endif %}

                                    {% if skill[2] == 3 %}
                                    <option selected value=3>Advanced</option>
                                    {% else %}
                                    <option value=3>Advanced</option>
                                    {% endif %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <button class="delete is-medium" onclick="deleteSkill({{ skill[0] }})"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Add a Skill</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="add-skill">
                                    {% for s in all_skills %}
                                    <option value={{ s[0] }}>{{ s[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-info" type="submit" value="Add Skill">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="column has-text-center is-narrow">
        <form class="form" id="upload-resume" method="post" enctype="multipart/form-data" action="{{ url_for('.upload_resume') }}">
            <div class="field">
                <h1 class="title">My Resume</h1>
                <div class="field-body">
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            {% if resume_filename %}
                            <a href="{{ url_for('.download_resume') }}">
                                <span class="file-name">
                                    {{ resume_filename }}
                                </span>
                            </a>
                            {% else %}
                            <span class="file-name">
                                No file selected
                            </span>
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}